:root{
    --bgp: #FFFFFF;
    --bgs: #F8F8F8;

    --fontp: #37352f;
    --fonts: #747370;

    --primary-p: #0b6e99;
    --primary-s: #ddebf1;

    --secondary-p: #0f7b6c;
    --secondary-s: #ddedea;
}